CompileFlags:
    Add: [
        "-std=c++26",
        "-D_WIN32",
        "-D_CRT_SECURE_NO_WARNINGS",
        "-fmodule-file=std=C:/cpp_modules/Clang/std.pcm",
        "-fmodule-file=FLL.Core.Base.Macros=C:/dev/C++/QLL/Core/pcm/Base/Macros.pcm",
        "-fmodule-file=FLL.Core.Base.Types=C:/dev/C++/QLL/Core/pcm/Base/Types.pcm",
        "-I.",
        "-I./F_Library/include"
    ]
    Compiler: g++
Index:
    Background: Build
    