CompileFlags:
    Add: [
        "-std=c++26",
        "-stdlib=libc++",
        "-g",
        "-D_WIN32",
        "-D_CRT_SECURE_NO_WARNINGS",
        "-IC:/dev/C++/QLL",
        "-IC:/dev/C++/QLL/Core/include",
        
-fmodule-file=QLL.Core.Base.Macros=C:/dev/C++/QLL/pcm/QLL.Core.Base.Macros.pcm,
-fmodule-file=QLL.Core.Base.Types=C:/dev/C++/QLL/pcm/QLL.Core.Base.Types.pcm,
-fmodule-file=QLL.Core.Infra.Log=C:/dev/C++/QLL/pcm/QLL.Core.Infra.Log.pcm,
-fmodule-file=QLL.Core.Infra.Timer=C:/dev/C++/QLL/pcm/QLL.Core.Infra.Timer.pcm,
-fmodule-file=QLL.Core.Math.Rect=C:/dev/C++/QLL/pcm/QLL.Core.Math.Rect.pcm,
-fmodule-file=QLL.Core.Math.Vector=C:/dev/C++/QLL/pcm/QLL.Core.Math.Vector.pcm,
-fmodule-file=QLL.Core=C:/dev/C++/QLL/pcm/QLL.Core.pcm,
-fmodule-file=std.compat=C:/dev/C++/QLL/pcm/std.compat.pcm,
-fmodule-file=std=C:/dev/C++/QLL/pcm/std.pcm,
    ]
Index:
  Background: Build
